<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="technicalhub.io.purshotam.adityahostelapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPage"
            android:parentActivityName=".LoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServiceConnect"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CanteenFeedback"
            android:parentActivityName=".RulesRegulationsType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RulesRegulation"
            android:parentActivityName=".RulesRegulationsType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterComplain"
            android:parentActivityName=".ServiceConnect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComplainStatus"
            android:parentActivityName=".ServiceConnect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComplainHistory"
            android:parentActivityName=".ServiceConnect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NorthBreakfast"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SouthBreakfast"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NorthLunch"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SouthLunch"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NorthEveningSnacks"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SouthEveningSnacks"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NorthDinner"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SouthDinner"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:label="Change Password"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeContactNumber"
            android:label="Change Contact Number"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportantContact"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RulesRegulationsType"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DevelopedBy"
            android:label="Developed By"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity android:name=".Timings"
            android:label="Timings"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
    </application>

</manifest>